{% trans_default_domain params.domain %}

{{ allmega_render_dashboard_box({
		'title': {'icon': 'user-tie', 'content': 'profile.show'|trans},
		'info': {'content': include(params.path ~ 'dashboard/_info.html.twig')},
		'content': include(params.path ~ 'dashboard/_content.html.twig'),
		'actionsList': {
			'links': [
				{
					'load': true,'icon': 'key',
					'title': 'user.change_password'|trans,
					'path': path(params.route ~ 'change_password')
				},
				{
					'load': true,'icon': 'edit',
					'title': 'user.edit'|trans,
					'path': path(params.route ~ 'edit')
				},
				{
					'icon': 'user-tie',
					'title': 'profile.show'|trans,
					'path': path(params.route ~ 'show')
				}
			]
		}
	})
}}