{% extends "@AllmegaAuth/layout.html.twig" %}

{% block title %}
	{{ 'profile.show'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ '/inc/_content.html.twig') }}
{% endblock %}
