{% extends '@AllmegaAuth/layout.html.twig' %}

{% block title %}
    {{ 'security.login.title'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'forms/_' ~ action ~ '.html.twig') }}
{% endblock %}