{% extends "@AllmegaAuth/layout.html.twig" %}

{% block title %}
	{{ 'grouptype.show'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ 'show/_layout.html.twig') }}
{% endblock %}