{% extends "@AllmegaAuth/layout.html.twig" %}

{% block title %}
	{{ 'users.list.title'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ 'list/_heading.html.twig') }}
	{{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
{% endblock %}