{{ allmega_render_side_box({
        'label': include(params.path ~ 'online/_label.html.twig'),
        'id': 'allmega-users-online',
        'side': 'end',
        'top': 7,
        'content': {
            'title': include(params.path ~ 'online/_title.html.twig'),
            'template': params.path ~ 'online/_content.html.twig',
            'params': {'users': users},
        }
    })
}}