{% trans_default_domain 'AllmegaAuthBundle' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
	    <meta charset="UTF-8">
	    {{ allmega_render_pdf_css() }}
	</head>
	<body>
		{{ allmega_render_pdf_logo() }}
		<h4 style="margin: 1rem;">{{ 'users.pdf.title'|trans({'%date%': 'now'|format_datetime('medium', 'none', locale='de') }) }}</h4>
	    <table>
			<thead>
			    <tr>
		            <th>{{ 'user.label.fullname'|trans }}</th>
		            <th>{{ 'user.label.phone'|trans }}</th>
		            <th>{{ 'user.label.mobile'|trans }}</th>
		            <th>{{ 'user.label.internally'|trans }}</th>
		    </thead>
		    <tbody>
				{% for user in users %}
					{% if user.enabled %}
						<tr>
							<td>{{ user.fullname }}</td>
							<td>{{ user.phone ?: '' }}</td>
							<td>{{ user.mobile ?: '' }}</td>
							<td>{{ user.internally ?: '' }}</td>
						</tr>
					{% endif %}
				{% else %}
					<tr><td colspan="5">{{ 'user.empty'|trans }}</td></tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>