{% trans_default_domain params.domain %}

{{ allmega_render_form_errors(errorMessages) }}
{{ allmega_render_form({
        'heading': {'title': {'icon': 'user-tie', 'content': 'registration.register'|trans}},
        'form': {
            'content': params.form, 'icon': 'paper-plane',
            'label': 'action.register'|trans,
            'path': path(params.route ~ 'add')}
    })
}}