{% extends '@AllmegaAuth/layout.html.twig' %}

{% block title %}
	{{ 'registration.register'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ 'forms/_' ~ params.action ~ '.html.twig') }}
{% endblock %}