{{ allmega_render_confirmation({'message': 'user.state_confirm'|trans({}, params.domain)}) }}
{{ allmega_render_confirmation({'action': 'verify', 'message': 'user.verify_confirm'|trans({}, params.domain)}) }}