{% trans_default_domain params.domain %}

<div class="overflow-auto">
	<table class="table table-sm table-striped shadow-lg text-nowrap">
		<tbody>
			<tr>
				<td><i class="fa-solid fa-user-tie"></i> {{ 'user.label.username'|trans }}</td>
				<td>{{ user.username }}</td>
			</tr>
			<tr>
				<td><i class="fa-solid fa-user-tie"></i> {{ 'user.label.fullname'|trans }}</td>
				<td>{{ user.fullname }}</td>
			</tr>
			<tr>
				<td><i class="fa-solid fa-envelope"></i> {{ 'user.label.email'|trans }}</td>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<td><i class="fa-solid fa-phone"></i> {{ 'user.label.phone'|trans }}</td>
				<td>{{ user.phone ?: '' }}</td>
			</tr>
			<tr>
				<td><i class="fa-solid fa-phone"></i> {{ 'user.label.mobile'|trans }}</td>
				<td>{{ user.mobile ?: '' }}</td>
			</tr>
			{% if params.showDetails|default(false) %}
				<tr>
					<td><i class="fa-solid fa-phone"></i> {{ 'user.label.internally'|trans }}</td>
					<td>{{ user.internally ?: '' }}</td>
				</tr>
				<tr>
					<td><i class="fa-solid fa-users"></i> {{ 'user.label.groups'|trans }}</td>
					<td>
						{% for group in user.groups %}
							- {{ group.name }}{% if not loop.last %}<br>{% endif %}
						{% else %}
							{{ 'user.no_group_member'|trans }}
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td><i class="fa-solid fa-address-card"></i> {{ 'user.addresses'|trans }}</td>
					<td>
						{% for address in user.addresses %}
							{{ address.street }} {{ address.housenumber }}, {{ address.zip }} {{ address.city }}
							{% if not loop.last %}<br />{% endif %}
						{% else %}
							{{ 'user.no_addresses'|trans }}
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td><i class="fa-solid fa-calendar-alt"></i> {{ 'user.label.birthday'|trans }}:</td> 
					<td>{{ user.birthday ? user.birthday|format_datetime('full', 'none', locale='de') : '' }}</td>
				</tr>
				<tr>
					<td><i class="fa-solid fa-globe"></i> {{ 'user.label.province'|trans }}</td>
					<td>{{ user.province.name }}</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>