<div class="text-end pb-2">
	{% for user in users %}
		{{ user.fullname }} 
		<i class="fa-solid fa-calendar-alt"></i> 
		{{ user.lastLogin|format_datetime('medium', 'short', locale='de') }}
		{% if not loop.last %}<hr>{% endif %}
	{% else %}
		{{ 'user.logins.empty'|trans({}, params.domain) }}
	{% endfor %}
</div>