{% set user = params.user %}

{% if params.links|default(false) %}
	{{ include(params.path ~ 'inc/_title.html.twig') }}
{% endif %}

<div class="row">
	<div class="col-md-12 px-4">
		{{ include(params.path ~ 'inc/_content.html.twig') }}
	</div>
</div>