{% extends '@AllmegaBlog/mail.html.twig' %}

{% trans_default_domain 'AllmegaAuthBundle' %}

{% block main %}
    {{ allmega_render_heading({'title': {'icon': 'globe', 'content': 'registration.email.title'|trans}})}}

    <div class="row">
        <div class="col-md-12">
            <p>{{ 'registration.email.message'|trans({'%link%': url('allmega_auth_login')})|raw }}</p>
            <p>
                <strong>
                    {{ 'user.label.username'|trans }}
                </strong>: {{ user.username }}<br>
                <strong>
                    {{ 'user.label.password'|trans }}:
                </strong> {{ password }}
            </p>
        </div>
    </div>
{% endblock %}