{% trans_default_domain params.domain %}

<div class="text-end">
    {{ 'label.created'|trans }} <i class="fa-solid fa-calendar-alt"></i> {{ user.created|format_datetime('medium', 'short', locale='de') }}<br />
    {{ 'label.updated'|trans }} <i class="fa-solid fa-calendar-alt"></i> {{ user.updated|format_datetime('medium', 'short', locale='de') }}<br />
    {{ 'user.label.last_login'|trans }} <i class="fa-solid fa-calendar-alt"></i> {{ user.lastLogin|format_datetime('medium', 'short', locale='de') }}
</div>