{% trans_default_domain params.domain %}

{% set links = {} %}
{% if not app.request.isXmlHttpRequest %}
	{% set links = [
			{
				'icon': 'backward', 'title': 'user.list'|trans,
				'path': path(params.route ~ 'index')
			},
			{
				'load': true, 'icon': 'key', 'title': 'user.change_password'|trans,
				'path': path(params.route ~ 'change_password', {'id': user.id})
			},
			{
				'load': true, 'icon': 'edit', 'title': 'user.edit'|trans,
				'path': path(params.route ~ 'edit', {'id': user.id})
			},
			{
				'confirm': true, 'state': user.enabled,
				'title': user.enabled ? 'user.deactivate'|trans : 'user.activate'|trans,
				'path': path(params.route ~ 'state', {'id': user.id})
			},
			{
				'confirm': true, 'state': user.verified, 'type': 'verify',
				'title': user.verified ? 'user.deverify'|trans : 'user.verify'|trans,
				'path': path(params.route ~ 'verify', {'id': user.id})
			}
		]
	%}
{% endif %}

{{ include(params.path ~ 'inc/_details.html.twig', {
	'params': params|merge({'user': user, 'showDetails': true, 'links': links})})
}}