{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'user-tie', 'content': 'user.show'|trans},
        'actionsList': {
            'info': {'show': true, 'content': include(params.path ~ 'inc/_info.html.twig')},
            'links': params.links
        }
    })
}}