{% extends '@AllmegaAuth/layout.html.twig' %}

{% block title %}
    {{ 'reset_password.forgot.link'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include('@AllmegaAuth/reset_password/inc/_layout.html.twig') }}
{% endblock %}