{% extends '@AllmegaAuth/layout.html.twig' %}

{% block title %}
    {{ params.title|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'inc/_form.html.twig') }}
{% endblock %}