{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': [
            {
                'path': path(params.route ~ 'show', {'id': params.group.id}),
                'title': 'group.show'|trans({}, params.domain),
                'load': true, 'icon': 'eye', 'size': 'lg'
            },
            {
                'load': true, 'icon': 'edit', 'title': 'group.edit'|trans({}, params.domain),
                'path': path(params.route ~ 'edit', {'id': params.group.id})
            }
        ]
    })
}}