{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'users', 'content': 'group.list'|trans},
        'actionsList': {
            'sort': {'item': item, 'sortables': groups},
            'info': {'show': true, 'content': 'group.info'|trans},
            'search': {
                'help': 'group.search.help'|trans,
                'placeholder': 'group.search.groups'|trans,
                'path': path(params.route ~ 'search'),
            },
            'links': [
                {
                    'load': true, 'icon': 'plus-circle', 'title': 'group.create'|trans,
                    'path': path(params.route ~ 'add')
                }
            ]
        }
    })
}}