{% trans_default_domain params.domain %}

{% set group = group ?? params.group %}

<div class="fw-bold">{{ 'label.description'|trans }}:</div> 
<div class="ps-3 mb-1">
    - {{ group.description ? group.description : 'label.empty.description'|trans  }}
</div>

<div class="fw-bold">{{ 'grouptype.ordered'|trans }}:</div>
<div class="ps-3 mb-1">
    {% for grouptype in group.grouptypes %}
        - {{ grouptype.name }}{% if not loop.last %}<br>{% endif %}
    {% else %}
        - {{ 'label.empty.grouptype'|trans }}
    {% endfor %}
</div>

<div class="fw-bold">{{ 'group.roles'|trans }}:</div>
<div class="ps-3">
    {% for role in group.roles %}
        - {{ role.name }}{% if not loop.last %}<br>{% endif %}
    {% else %}
        - {{ 'group.empty.roles_assigned'|trans }}
    {% endfor %}
</div>