{% trans_default_domain params.domain %}

<div class="fw-bold">{{ 'label.description'|trans }}:</div> 
<div class="ps-3 mb-1">
    - {{ group.description ? group.description : 'label.empty.description'|trans  }}
</div>
<hr>
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="shadow-lg h-100">
            <div class="fw-bold px-3 pt-3">{{ 'group.grouptypes'|trans }}</div>
            <hr>
            <div class="px-3 pb-3">
                {% for grouptype in group.grouptypes %}
                    - {{ grouptype.name }}{% if not loop.last %}<br>{% endif %}
                {% else %}
                    - {{ 'group.empty.grouptypes_assigned'|trans }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="shadow-lg h-100">
            <div class="fw-bold px-3 pt-3">{{ 'group.users'|trans }}</div>
            <hr>
            <div class="px-3 pb-3">
                {% for user in group.users %}
                    {% if user.enabled %}
                        - {{ user.fullname }}{% if not loop.last %}<br>{% endif %}
                    {% endif %}
                {% else %}
                    - {{ 'group.empty.users_assigned'|trans }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>