{{ allmega_render_heading({
        'title': {'icon': 'users', 'content': group.name},
        'actionsList': {
            'info': {'show': true, 'content': 'group.review'|trans({'%group%': group.name}, params.domain)}
        }
    })
}}