{% trans_default_domain params.domain %}

{% set province = params.province %}

{% set links = [
        {
            'load': true,
            'icon': 'edit',
            'title': 'province.edit'|trans,
            'path': path(params.route ~ 'edit', {'id': province.id})
        },
        {
            'confirm': true,
            'state': province.active,
            'title': province.active ? 'action.deactivate'|trans : 'action.activate'|trans,
            'path': path(params.route ~ 'state', {'id': province.id})
        }
    ]
%}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': links, 
    })
}}