{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'globe', 'content': 'province.list'|trans},
        'actionsList': {
            'info': {'show': true, 'content': 'province.info'|trans}
        }
    })
}}