{% trans_default_domain params.domain %}

{% set year = 'now'|date('Y') %}

<div class="fw-bold text-end">{{ 'province.label.holidays'|trans }}:</div> 
<div class="text-end">
    {% for holiday in province.holidays %}
        {{ holiday.name  }} <i class="fa-solid fa-calendar-alt"></i> 
        {{ holiday.setDay(year).day|format_datetime('medium', 'none', locale='de') }}
        {% if not loop.last %}<br>{% endif %}
    {% else %}
        {{ 'label.empty.holidays'|trans }}
    {% endfor %}
</div>