{{ allmega_render_slider_wrapper({
        'empty': 'province.empty'|trans({}, params.domain),
        'template': params.path ~ 'list/_slider.html.twig',
        'params': params, 'items': provinces, 'card': true,
    })
}}