{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'home', 'content': 'user.addresses'|trans},
        'actionsList': {
            'info': {'show': true, 'content': 'address.info'|trans},
            'links': [
                {
                    'load': true, 'icon': 'plus-circle', 'title': 'address.create'|trans,
                    'path': path(params.address.route ~ 'add')
                }
            ]
        }
    })
}}