{% trans_default_domain params.domain %}

<ul class="p-3 list-group">
    {% for address in addresses %}
        <li class="list-group-item">
            <div class="float-end">
                {{ allmega_render_link({
                        'load': true, 'icon': 'edit',  'title': 'address.edit'|trans,
                        'path':  path(params.address.route ~ 'edit', {'id': address.id})
                    })
                }}
            </div>
            <div>{{ address.street }} {{ address.housenumber }}, {{ address.zip }} {{ address.city }}, {{ address.description }}</div>
        </li>
    {% else %}
        <li class="list-group-item">{{ 'address.empty'|trans }}</li>
    {% endfor %}
</ul>