<div class="row allmega-boxes-area">
    <div class="col-md-6 mb-3">
        {{ include(params.path ~ 'inc/_details.html.twig') }}
    </div>
    <div class="col-md-6">
        {{ include(params.path ~ 'inc/_addresses.html.twig') }}
    </div>
</div>