{% trans_default_domain params.domain %}

<div class="row">
    <div class="col-md-12">

        <div class="allmega-profile-show px-0 py-3">
            <nav>
                <div class="nav nav-tabs" id="allmega-overview-menu" role="tablist">
                    <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">
                        <i class="fa-solid fa-user-tie"></i> {{ 'profile.show'|trans }}
                    </button>
                    <button class="nav-link" id="nav-address-tab" data-bs-toggle="tab" data-bs-target="#nav-address" type="button" role="tab" aria-controls="nav-address" aria-selected="false">
                        <i class="fa-solid fa-home"></i> {{ 'user.addresses'|trans }}
                    </button>
                </div>
            </nav>
        
            <div class="tab-content">
                <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    {{ include(params.path ~ 'inc/_details.html.twig') }}
                </div>
        
                <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
                    {{ include(params.path ~ 'inc/_addresses.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>