{% trans_default_domain params.domain %}

<div class="shadow-lg  allmega-head-actions-list">
    {{ include(params.user.path ~ 'inc/_details.html.twig', {
            'params': params|merge({
                'path': params.user.path,
                'user': user,
                'links': [
                    {
                        'load': true, 'icon': 'key',
                        'title': 'user.change_password'|trans,
                        'path': path(params.route ~ 'change_password')
                    },
                    {
                        'load': true, 'icon': 'edit', 'title': 'user.edit'|trans,
                        'path': path(params.route ~ 'edit')
                    }
                ]
            })
        })
    }}
</div>