{% if error %}
    <div id="allmega-flash-area">
        <div id="allmega-flash-message">
            <div class="alert alert-danger allmega-flash-message text-center" role="alert">
                <div class="allmega-flash-message-line">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        </div>
    </div>
{% endif %}