{% trans_default_domain params.domain %}
       
{{ allmega_render_heading({'title': {'icon': 'lock', 'content': 'security.login.title'|trans}})}}

<div class="row">
    <div class="col-md-12 mb-4">
        {{ include(params.path ~ 'forms/_errors.html.twig') }}
        <div class="m-auto allmega-login-form">
            <form method="post" action="{{ path(params.route ~ 'login', redirect) }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-user-tie"></i></span>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control form-control-sm" placeholder="{{ 'security.login.username'|trans }}" />
                </div>
                
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control form-control-sm" placeholder="{{ 'security.login.password'|trans }}" />
                </div>

                <hr>
                <div class="form-check mx-1">
                    <input type="checkbox" id="remember_me" name="_remember_me" class="form-check-input" />
                    <span class="text-muted">{{ 'security.login.remember_me'|trans }}</span>
                </div>

                <hr>
                <p>
                    <a href="{{ path(params.route ~ 'password_forgot') }}" data-load="true">
                        {{ 'reset_password.login_link'|trans }}
                    </a>
                </p>
                {{ include(params.path ~ 'forms/_registration.html.twig') }}
                <hr>
                <button type="submit" class="allmega-btn btn btn-sm btn-block w-100 mt-3">
                    <i class="fa-solid fa-sign-in-alt" aria-hidden="true"></i> {{ 'security.login.submit'|trans }}
                </button>
            </form>
        </div>
    </div>
</div>