{% if registration_enabled %}
    <hr>
    <p>
        <a href="{{ path(params.registrationRoute ~ 'add') }}" data-load="true">
            {{ 'registration.link'|trans({}, params.domain) }}
        </a>
    </p>
{% endif %}