{% extends '@AllmegaBlog/mail.html.twig' %}

{% trans_default_domain 'AllmegaAuthBundle' %}

{% block main %}
    {{ allmega_render_heading({'title': {'icon': 'globe', 'content': 'registration.email.confirm'|trans}})}}
    <p>
        {{ 'registration.confirm.message'|trans }}: <br><br>
        <a href="{{ signedUrl|raw }}">{{ 'registration.confirm.link'|trans }}</a>
        {{ 'registration.confirm.expires'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}
    </p>
{% endblock %}