{% set time = resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') %}

{% if params.check|default(false) %}
    <div class="px-3 pb-3">
        {{ 'reset_password.check.message'|trans({}, params.domain) }}
        {{ 'reset_password.check.notice'|trans({'%link%': path(params.route ~ 'forgot')}, params.domain)|raw }}
        <hr>
        <div class="text-muted">
            {{ 'reset_password.link_valid'|trans({'%time%': time}, params.domain) }}
        </div>
    </div>
{% else %}
    <div class="p-5">
        <p>{{ 'reset_password.forgot.message'|trans({}, 'AllmegaAuthBundle') }}</p>
        <a href="{{ url('allmega_auth_password_reset', {token: resetToken.token}) }}">
            {{ 'reset_password.forgot.link'|trans({}, 'AllmegaAuthBundle') }}
        </a>
        <p>{{ 'reset_password.link_valid'|trans({'%time%': time}, 'AllmegaAuthBundle') }}</p>
    </div>
{% endif %}