{% trans_default_domain params.domain %}

{% set actionsList = {} %}

{% if params.loginPath|default('') and not app.request.isXmlHttpRequest %}
    {% set actionsList = {
        'links': [
            {
                'path': path(params.loginPath), 'icon': 'backward',
                'title': 'security.login.title'|trans,
            }
        ]
    }
    %}
{% endif %}

{{ allmega_render_form({
        'heading': {
            'title': {'icon': 'lock', 'content': params.title|trans},
            'actionsList': actionsList
        },
        'form': {
            'path': path(params.routePath),
            'label': params.label|trans,
            'content': params.form
        }
    })
}}