{% trans_default_domain params.domain %}

{% set user = params.user %}
{% set links = [
        {
            'icon': 'eye', 'load': true, 'size': 'lg', 'title': 'user.show'|trans,
            'path': path(params.route ~ 'show', {'id': user.id})
        },
        {
            'load': true, 'icon': 'key', 'title': 'user.change_password'|trans,
            'path': path(params.route ~ 'change_password', {'id': user.id})
        },
        {
            'load': true,  'icon': 'edit', 'title': 'user.edit'|trans,
            'path': path(params.route ~ 'edit', {'id': user.id})
        },
        {
            'confirm': true, 'state': user.enabled,
            'title': user.enabled ? 'user.deactivate'|trans : 'user.activate'|trans,
            'path': path(params.route ~ 'state', {'id': user.id})
        },
        {
            'confirm': true, 'state': user.verified, 'type': 'verify',
            'title': user.verified ? 'user.deverify'|trans : 'user.verify'|trans,
            'path': path(params.route ~ 'verify', {'id': user.id})
        }
    ]
%}

{{ allmega_render_actions_list({
        'info': {
            'content': include(params.path ~ 'inc/_info.html.twig'),
            'show': infos|default(false)
        },
        'links': links
    })
}}