{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {
            'icon': 'users',
            'content': 'user.list'|trans,
            'count': users.totalItemCount
        },
        'actionsList': {
            'sort': {'item': item, 'sortables': users},
            'info': {'show': true, 'content': 'user.info'|trans},
            'search': {
                'help': 'user.search.help'|trans,
                'placeholder': 'user.search.users'|trans,
                'path': path(params.route ~ 'search'),
            },
            'links': [
                {
                    'load': true,
                    'icon': 'plus-circle',
                    'title': 'user.create'|trans,
                    'path': path(params.route ~ 'add')
                }
            ]
        }
    })
}}