{{ allmega_render_slider_wrapper({
        'template': params.path ~ 'list/_slider.html.twig',
        'empty': 'user.empty'|trans({}, params.domain),
        'params': params, 'items':  users, 'card': true
    })
}}