{{ allmega_render_slider_content({
        'icon': 'user-tie', 'title': item.fullname,
        'params': params|merge({'user': item}),
        'templates': {
            'content': params.path ~ 'inc/_details.html.twig',
            'menu': params.path ~ 'list/_actions.html.twig'
        }
    })
}}