{% trans_default_domain params.domain %}

<div class="overflow-auto p-2">
    <table class="table table-sm table-striped shadow-lg text-nowrap">
        <thead class="thead-light">
            <tr>
                <th scope="col">{{ 'user.label.fullname'|trans }}</th>
                <th scope="col">{{ 'user.label.email'|trans }}</th>
                <th scope="col">{{ 'user.label.phone'|trans }}</th>
                <th scope="col">{{ 'user.label.mobile'|trans }}</th>
                <th scope="col">{{ 'user.label.internally'|trans }}</th>
                <th scope="col">{{ 'label.position'|trans }}</th>
        </thead>
        <tbody>
            {% for user in params.group.users %}
                {%  if user.enabled %}
                    <tr>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.mobile }}</td>
                        <td>{{ user.internally }}</td>
                        <td>{{ user.hasRole('ROLE_DEPARTMENT_HEAD') ? 'storage.group.auth.department.head.name'|trans : 'storage.group.auth.department.employee.name'|trans }}</td>
                    </tr>
                {% endif %}
            {% else %}
                <tr><td colspan="6">{{ 'user.empty'|trans }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>