{% trans_default_domain params.domain %}

{{ allmega_render_heading({
        'title': {'icon': 'users', 'content': 'users.list.title'|trans},
        'actionsList': {
            'info': {'show': true, 'content': 'users.list.info'|trans},
            'links': [
                {
                    'icon': 'list-alt', 'title': 'users.pdf.load'|trans,
                    'path': path(params.route ~ 'print')
                }
            ]
        }
    })
}}