{{ allmega_render_slider_content({
        'icon': 'users', 'title': item.name,
        'params': params|merge({'group': item}),
        'templates': {'content': params.path ~ 'list/_content.html.twig'}
    })
}}