{% trans_default_domain params.domain %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': [
            {
                'path': path(params.route ~ 'show', {'id': params.grouptype.id}),
                'load': true, 'icon': 'eye', 'size': 'lg',
                'title': 'grouptype.show'|trans
            },
            {
                'load': true, 'icon': 'edit', 'title': 'grouptype.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': params.grouptype.id})
            }
        ]
    })
}}