{% trans_default_domain params.domain %}

<div class="overflow-auto">
	{% for group in params.grouptype.groups %}
		<div class="border-bottom px-3 py-2">
			<div class="float-end">
				{{ allmega_render_actions_list({
					'info': {'content': include(params.groupPath ~ 'list/_info.html.twig')},
						'links': [
							{
								'path': path(params.groupRoute ~ 'show', {'id': group.id}),
								'title': 'group.show'|trans({}, params.domain),
								'load': true, 'icon': 'eye', 'size': 'lg'
							},
							{
								'load': true, 'icon': 'edit', 'title': 'group.edit'|trans,
								'path': path(params.groupRoute ~ 'edit', {'id': group.id})
							}
						]
					})
				}}
			</div>
			<div>{{ group.name }}</div>
		</div>
	{% else %}
		<p>{{ 'group.empty.list'|trans }}</p>
	{% endfor %}
</div>