{% trans_default_domain params.domain %}

<div class="fw-bold">{{ 'label.description'|trans }}:</div>
<div class="ps-3">
    - {{ params.grouptype.description ? params.grouptype.description : 'label.empty.description'|trans  }}
</div>