{{ allmega_render_slider_content({
        'params': params|merge({'grouptype': item}),
        'title': item.name,
        'templates': {
            'content': params.path ~ 'list/_content.html.twig',
            'menu': params.path ~ 'list/_actions.html.twig'
        }
    })
}}