{{ allmega_render_slider_wrapper({
        'empty': 'group.empty.list'|trans({}, params.domain),
        'template': params.path ~ 'list/_slider.html.twig',
        'params': params, 'items': grouptypes, 'card': true,
    })
}}