{% trans_default_domain params.domain %}

<div class="fw-bold">{{ 'label.description'|trans }}:</div> 
<div class="ps-3 mb-1">
    - {{ grouptype.description ? grouptype.description : 'label.empty.description'|trans  }}
</div>
<hr>
<div class="fw-bold">{{ 'grouptype.label.groups'|trans }}</div>
<hr>
<div class="row">
    {% for group in grouptype.groups %}
        {{ include(params.path ~ 'show/_group.html.twig') }}
    {% else %}
        <div class="text-small text-muted">
            {{ 'group.empty.grouptypes_assigned'|trans }}
        </div>
    {% endfor %}
</div>

    