{% trans_default_domain params.domain %}

<div class="col-4 mb-4">
    <div class="shadow-lg h-100">
        <div class="fw-bold px-3 pt-3">{{ group.name }} {{ 'group.users'|trans }}</div>
        <hr>
        <div class="px-3 pb-3">
            {% for user in group.users %}
                {% if user.enabled %}
                    - {{ user.fullname }}{% if not loop.last %}<br>{% endif %}
                {% endif %}
            {% else %}
                - {{ 'group.empty.users_assigned'|trans }}
            {% endfor %}
        </div>
    </div>
</div>