{{ allmega_render_heading({
        'title': {'icon': 'users', 'content': grouptype.name},
        'actionsList': {
            'info': {'show': true, 'content': 'grouptype.review'|trans({'%grouptype%': grouptype.name}, params.domain)}
        }
    })
}}