{% extends '@AllmegaAuth/layout.html.twig' %}

{% block title %}
	{{ 'province.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'list/_heading.html.twig') }}
    {{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
    {{ allmega_render_confirmation({'message': 'province.state_confirm'|trans({}, params.domain)}) }}
{% endblock %}