{% trans_default_domain params.domain %}

{{ allmega_render_dashboard_box({
		'title': {'content': 'user.logins.last'|trans},
		'content': include(params.path ~ 'inc/_dashboard.html.twig'),
		'actionsList': {
			'links': [
				{
					'icon': 'list-alt', 'title': 'user.list'|trans,
					'path': path(params.route ~ 'index')
				}
			]
		}
	})
}}