{% extends "@AllmegaAuth/layout.html.twig" %}

{% block title %}
	{{ 'user.list'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ 'list/_heading.html.twig') }}
	{{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
	
	{{ allmega_render_pagination(users) }}
	{{ include(params.path ~ 'inc/_confirm.html.twig') }}
{% endblock %}