{% extends "@AllmegaAuth/layout.html.twig" %}

{% block title %}
	{{ 'user.show'|trans({}, params.domain) }}
{% endblock %}

{% block main %}
	{{ include(params.path ~ 'inc/_show.html.twig') }}
	{{ include(params.path ~ 'inc/_confirm.html.twig') }}
{% endblock %}