<div class="text-nowrap">
    {% for user in params.users %}
        <div>
            <i class="fa-solid fa-circle-check text-success"></i>
            {{ user.fullname }}
        </div> 
    {% endfor %}
</div>